<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>musimage</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <main>
        <h1>musimage</h1>
        <section class="section-wrapper">
            <h1 class="title">Import audio file</h1>
            <section class="file-wrapper">
                <button>
                    <label for="audioFile">
                        Upload audio file
                        <input type="file" id="audioFile" accept=".aac, .aif, .au, .mp3, .mp4, .m4a, .oga, .ogg, .opus, .vqe, .vqf, .vql, .wav"/>
                    </label>
                </button>
                <span id="audioName">No file selected</span>
            </section>
            <button id="audioLoad">Load audio</button>
            <audio title="" src="" id="audioTrack" autoplay controls></audio>
        </section>
        <section class="section-wrapper">
            <h1 class="title">Recording</h1>
            <button id="recordingButton">Start recording</button>
            <audio src="" id="audioRecorded" controls></audio>
        </section>
    </main>
    <script type="text/javascript" src="../static/js/elements.js"></script>
    <script type="text/javascript" src="../static/js/importHandler.js"></script>
    <script type="text/javascript" src="../static/js/recording.js"></script>
    <script type="text/javascript" src="../static/js/recordingHandler.js"></script>
</body>
</html>